@{
    ViewBag.Title = "Impressum";
}
<div class="jumbotron">
<h3>
    Impressum
</h3>
<ul>
    <li>
        <h4>
            Geschäftsführer
        </h4>
        Peter Kraus
    </li>
    <li>
        <h4>
            Firmensitz und Postanschrift:
        </h4>
        Gablenzgasse 41/9/3
        <br />1150 Wien
        <br />krauspeter1995@yahoo.de

    </li>
    <li>
        <h4>
            Kontakt:
        </h4>
        Tel: +43 660 3892928
        <br />Fax: + 43 660 3892928
        <br />Email: krauspeter1995@yahoo.de
        <br />Web: www.stockgames.com
    </li>
    <li>
        <h5>
            Registernummer StockGames: HRB7845
        </h5>
    </li>
    <li>
        <h5>
            Registergericht: Amtsgericht am Fuchsweg
        </h5>
    </li>
    <li>
        <h5>
            USt-ID: AT611904300234573261
        </h5>
    </li>
</ul>

</div>
