@model List<VM_Product>

<div class="row">
    @foreach (VM_Product product in Model)
    {
        <div class="col-4">
            <div class="card border-primary rounded-0" style="width: 18rem;">
                <h1>@product.ProductName</h1>
                <img class="card-img-top" src="@product.HeaderImgPath" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.ShortDescription</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    }
</div>



