
@{
    ViewBag.Title = "Logout";
}
<div class="jumbotron">
    <h2 class="text-center">Du wurdest erfolgreich ausgeloggt</h2>

    <form method="get" action="/Home/Index">
        <button>Zurück zum Hauptmenü</button>
    </form>
</div>

