<connectionStrings>
  <add name="StockGamesDatabaseEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC99F267569B70\SQLEXPRESS;initial catalog=StockGamesDatabase;persist security info=True;user id=sa;password=Admin2019$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
